#manageregisterationtables{
    width: 100%;
    height: 470px;
}

#table1{
    overflow-x: auto;
    height: 120px;
    border-style: groove;
}

#table2{
    overflow-x: auto;
    height: 120px;
    border-style: groove;
}

#table3{
    overflow-x: auto;
    height: 120px;
    border-style: groove;
}

#table4{
    overflow-x: auto;
    height: 120px;
    border-style: groove;
}

#navbar{

}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}
