<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table id="table_source">
    <tbody>
    <tr>
        <td>Row</td>
        <td>1</td>
        <td><img src='move_image_path' alt='Move' class='move-row' /></td>
    </tr>
    <tr>
        <td>Another Row</td>
        <td>2</td>
        <td><img src='move_image_path' alt='Move' class='move-row' /></td>
    </tr>
    </tbody>
</table>

<table id="table_dest">
    <tbody>
    </tbody>
</table>

</body>
</html>