<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>SCGJ-Dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <link rel="stylesheet" href="../CSS/ScgjDashboard.css">
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="../JAVASCRIPT/ScgjDasboard.js"></script>
</head>

<body>

<div class="container-fluid">
    <div class="row" id="header"  >



    </div>


    <div class="row" id="maindashboard"  >
        <div class="col-md-2" id="navbar">
            <p></p><a href="html_images.asp" >Dashboard</a></p>
            <p><a href="html_images.asp" >Manage Registeration</a></p>
            <p><a href="html_images.asp" >Import</a></p>
            <p><a href="html_images.asp" >FAQ</a></p>
            <p><a href="html_images.asp" >Batch Assignment</a></p>
            <p><a href="html_images.asp" >Placement Report</a></p>

        </div>



        <div clas="col-md-10" id="graphs">
            <div class="row" id="panel">
                <div class="col-md-3"  id="teacherpanel">
                    <div class="row">
                        <div class="col-md-4" >Teachers</div>
                        <div class="col-md-7" style="text-align: right" >10</div>

                    </div>
                </div>

                <div class="col-md-3" id="studentpanel" >
                    <div class="row">
                        <div class="col-md-4"  >Students</div>
                        <div class="col-md-7" style="text-align: right" >1002</div>

                    </div>

                </div>

                <div class="col-md-3" id="coursepanel">
                    <div class="row">
                        <div class="col-md-4"  >Courses</div>
                        <div class="col-md-7" style="text-align: right" >68</div>

                    </div>

                </div>

                <div class="col-md-3" id="employeepanel">
                    <div class="row">
                        <div class="col-md-4"  >Employees</div>
                        <div class="col-md-7" style="text-align: right" >92</div>

                    </div>

                </div>

            </div>
            <div class="row" id="first">
                <div class="col-md-6" id="graph1">
                    <div id="piechartContainer" style="height: 200px; width: 100%;"></div>
                    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                </div>

                <div class="col-md-6" id="graph2">
                    <div id="chartContainer" style="height: 200px; width: 100%;"></div>
                    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                </div>

            </div>

            <div class="row" id="second">
                <div class="col-md-6" id="graph3">
                    <div id="linearchartContainer" style="height: 200px; width: 100%;"></div>
                    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                </div>

                <div class="col-md-6" id="graph4">
                    <div id="doughnutchartContainer" style="height: 200px; width: 100%;"></div>
                    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

                </div>

            </div>


        </div>




    </div>







    <div class="row" id="footer">

    </div>

</div>


</body>

</html>
